{% extends 'dearcomradehome/base.html' %}
{% block content %}
{% if community %}
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">{{community.name}}</h5>
        <div class="row">
            <div class="column">
                <h4 class="card-text">{{community.addr1}} </h4>
            </div>
            <div class="column">
                <h4 class="card-text">{{community.addr2}} </h4>
            </div>
        </div>
        <h4 class="card-text"> {{community.avgrent}}</h4>
        <h4 class="card-text"> {{community.phnumber}}</h4>
        <p class="card-text">{{community.description}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
{% else %}
<h3>Community details not available!</h3>
{% endif %}
{% endblock %}