{% extends 'dearcomradehome/base.html' %}
{% block content %}
{% if community %}
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Name: {{community.name}}</h5>
             <br>
            <div  align="center">
                <h5 class="card-text">Addr: {{community.addr1}} </h5>
            </div>
            <div  align="center">
                <h5 class="card-text">{{community.addr2}} </h5>
            </div>
        <br>
        <h5 class="card-text">Rent: {{community.avgrent}}$</h5>
        <h5 class="card-text">PhNo: {{community.phnumber}}</h5>
        <br>
        <h5 class="card-text">Desc: {{community.description}}</h5>
<!--        <a href="#" class="btn btn-primary">Go somewhere</a>-->
    </div>
</div>
{% else %}
<h3>Community details not available!</h3>
{% endif %}
{% endblock %}