{% extends "dearcomradehome/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section col-sm-6">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
            <p class="text-secondary">Upload your profile image</p>
            <form method="post" enctype="multipart/form-data" action="/viewrateusers/saveuserprofilepicture/">
                {% csrf_token %}
                <input type="file" name="myfile">
                <button type="submit" class="btn btn-link">Upload</button>
            </form>
        </div>
    </div>
    {% if usertoken is False %}
    {% if message %}
    <h4>{{message}}</h4>
    {% endif %}
    <div id="sectionsnottobeshown">
        <br>
        <div id="statuschange">
            <label class="custom-control-label" for="customSwitch1">Click here to change the your current
                occupancy status</label>
            <button type="button" class="btn btn-primary" onclick="showform()">Change</button>
        </div>
        <div id="userchangeform" style="display:none;">
            <form method="post" action="/viewrateusers/saveuserstatus/">
                {% csrf_token %}
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label for="inputState">Community</label>
                        <select id="inputCity" class="form-control" name="community">
                            <option>Select a community ...</option>
                            {% for community in communities %}
                            <option> {{community.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputState">House Number</label>
                        <input type="number" class="form-control" id="inputState" name="housenumber">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    {% endif %}
    <!-- FORM HERE -->
</div>
<script>
    function showform() {
        var x = document.getElementById("userchangeform");
        if (x.style.display === "none") {
             x.style.display = "block";
        }
      }
</script>
{% endblock content %}

