{% extends "dearcomradehome/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
            <label>Type of registration</label>
            <!--<select id="registrationtype" name="registrationtype" class="form-control">
                <option value="user"> User</option>
                <option value="community"> Community</option>
            </select> -->
            <input name="registrationtype" type="text" class="form-control" placeholder="user/community" required>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}
