{% extends 'dearcomradehome/base.html' %}
{% block content %}
{% if users %}
<div class="row">
    {% for potentialuser in users %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Name: {{ potentialuser.fname }} {{ potentialuser.lname }}</h5>
                <p class="card-text">Age: {{ potentialuser.age }}</p>
                <p class="card-text">Countyr: {{ potentialuser.country }}</p>
                <form method="POST" action="/viewrateusers/displayuser/">
                    {% csrf_token %}
                    <input type="hidden" name="userid" value="{{ potentialuser.userid }}">
                    <input type="submit" class="btn btn-primary" value="View/Rate">
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
{{message}}
{% endif %}
{% endblock %}